:root {
    --white-color: #ebe9e1;
    --black-color: #030303;
    
    --section-margin: 2.5vw;
    --work-item-margin: 2vh;

    --plyr-color-main: #ebe9e1;
    
  }

  .plyr__control svg{
      fill: #030303 !important;
  }
.hidden{
    display: none;
}

body{
    min-height: 100vh;
}

nav a:hover,
body.landing .work-nav,
body.directors .directors-nav,
body.about .about-nav{
    font-weight: bold;
}

html,body{
    font-family: 'Neue Montreal', Arial, Helvetica, sans-serif;
    background: var(--black-color);
    color: var(--white-color);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.prevent-scroll{
    overflow: hidden;
}

p,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

a{
    color: var(--white-color);
    text-decoration: none;
}

/* branding */
h1{
    font-family: 'Monument Extended';
}
h1 a{
    transition: color 1s ease;
}
/* commons */
.column{
    display: flex;
    flex-direction: row;;
}

/* navigation & header */
header{
    position: fixed;
    top: 0;
    padding-top: 20px;
    left: 0;
    right: 0;
    padding-left: var(--section-margin);
    padding-right: var(--section-margin);
    justify-content: space-between;
    z-index: 99;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
    transition: color 1s ease, background-color 1s ease;
    
}

header nav a{
    font-family: 'Favorit Mono';
    font-size: 1.25vw;
    margin-right: 20px;
}

header nav a.active{
    font-weight: bold;
}

header.black a,
header.black{
    color: var(--black-color);
}

header.black{
    background: rgb(235,233,225);
    background: linear-gradient(180deg, rgba(235,233,225,1) 30%, rgba(235,233,225,0) 100%);
}

/* landing */
section.landing{
    display: none;
}

section.landing.show{
    display: block;
}

.landing .egg{
    height: 100vh;
    margin-bottom: 100vh;
    background: var(--black-color);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
    z-index: 100;
}

.landing .egg::after{
    content: "";
    display: block;
    height: 100vh;
    width: 100vw;
    background: transparent;
    top: 300vh;
    position: absolute;
}

.landing .egg img{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 30vh;
    z-index: 2;
}

.landing-legend{
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
    margin-bottom: var(--section-margin);
    justify-content: space-between;
    
}

.landing-legend p{
    font-size: 2.5vw;
    max-width: 50%;
}

.landing-legend .social div,
.landing-legend .social a{
    display: block;
    font-size: 0.87vw;
    margin-bottom: 1.5vh;
}

.landing-legend .social div{
    margin-bottom: 2vh;
}

.landing-legend .social{
    font-family: 'Favorit Mono';
}

.landing h2{
    font-family: 'Monument Extended';
    text-align: center;
    font-size: 15.2vw;
    z-index: 1;
}


/* work */

section.work{
    background: var(--white-color);
    padding: var(--section-margin);
    padding-top: 50px;

    font-family: 'Favorit Mono';
}
section.work .categories{
    color: var(--black-color);
    margin-top: 1vh;
    margin-bottom: 2.5vh;
    font-weight: 200;
    font-size: 1.75vw;
}

section.work .categories a{
    color: var(--black-color);
    font-family: 'Monument Extended';
    margin-right: 5px;
    margin-left: 5px;
}

section.work .categories a.active{
    font-weight: normal;
}

section.work .categories span:last-of-type{
    display: none;
}

section.director-detail .items,
section.detail .items,
section.work .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.detail h3,
section.director-detail h3{
    display: flex;
    justify-content: space-between;
}

section.work .items .item,
section.director-detail .items .item,
section.detail .items .item{
    width: calc(50% - var(--work-item-margin));
    position: relative;
}

section.director-detail .items .item,
section.detail .items .item,
section.director-detail .items .item{
    width: calc(33.33% - var(--work-item-margin));
}

section.director-detail .items .item a,
section.detail .items .item a,
section.work .items .item a{
    color: var(--black-color);
}

section.director-detail .items .item p.work-title,
section.work .items .item p.work-title,
section.detail .items .item p.work-title{
    padding-top: var(--work-item-margin);
    padding-bottom: var(--work-item-margin);
    text-transform: uppercase;
    font-size: 1.2vw;
}

section.director-detail .items .item p.description,
section.detail .items .item p.description{
    font-size: 1.2vw;
    line-height: 1.8vw;
}

section.director-detail .items .item .description-container,
section.detail .items .item .description-container,
section.work .items .item .description-container{
    position: relative;
    display: block;
}

section.director-detail .items .item.hidden,
section.detail .items .item.hidden,
section.work .items .item.hidden{
    display: none;
}

section.director-detail .items .item img,
section.detail .items .item img,
section.work .items .item img{
    display: block;
}

section.director-detail .items .item:hover .description,
section.detail .items .item:hover .description,
section.work .items .item:hover .description{
    opacity: 1;
}

section.director-detail .items .item .description,
section.detail .items .item .description,
section.work .items .item .description{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    color: var(--white-color);
    padding: 50px 30px;
    opacity: 0;
    transition: 1s all ease;
    font-family: 'Neue Montreal';
    line-height: 2.5vw;
    font-size: 2vw;
}


/* contact */
#contact-section{
    position: fixed;
    top: 0;
    padding-top: 40px;
    left: 0;
    right: 0;
    padding-left: var(--section-margin);
    padding-right: var(--section-margin);
    bottom: 0;
    background: var(--white-color);
    color: var(--black-color);
    display: none;
    
    font-family: 'Monument Extended';
    font-size: 2vw;
}

#contact-section.open{
    display: block;
    
}

#contact-section .by-email{
    font-size: 0.75rem;
    margin-bottom: 50px;
    font-family: 'Favorit Mono';
}

#contact-section .form-contact{
    margin-top: 50px;
    
}

#contact-section .close{
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact-section a{
    color: var(--black-color);
}

#contact-section input{
    border: 0;
    border-bottom: 1px solid var(--black-color);
    background: transparent;
    width: 300px;
    margin-right: 10px;
    outline: none;
}

#contact-section .send-button{
    cursor: pointer;
    border: 0;
    background: transparent;
    font-family: 'Monument Extended';
    font-size: 2vw;
}

/* about */

section.about{
    padding-left: var(--section-margin);
    padding-right: var(--section-margin);
    padding-top: 100px;
}

section.about > div{
    flex: 1;
    padding-right: 100px;
    padding-bottom: 150px;
}

section.about > div h3{
    margin-bottom: 20px;
    font-family: 'Monument Extended';
    font-size: 3.5vw;
    font-weight: normal;
}

section.about span{
    font-family: 'Favorit Mono';    
    font-size: 1.3vw;
}

section.about .we p{
    font-size: 1.7vw;
}

section.about .services{
    font-family: 'Monument Extended';
    font-weight: 300;
    font-size: 1.75vw;
}

/* footer */
footer{
    padding-left: var(--section-margin);
    padding-right: var(--section-margin);
    border-top: 1px solid var(--black-color);
    border-bottom: 1px solid var(--black-color);
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Favorit Mono';
    background: var(--white-color);
    color: var(--black-color);
    font-size: 0.87vw;
}

footer a{
    color: var(--black-color);
}

body.black footer,
body.black footer a{
    color: var(--white-color);
}

body.black footer{
    border-top: 1px solid var(--white-color);
}

footer .egg-black{
    display: none;
}

body.black footer .egg-white{
    display: none;
}

body.black footer .egg-black{
    display: block;
}

body.black footer{
    background: var(--black-color);
}

footer div{
    width: 100px;
}

footer div.copy{
    flex: 1;
}

footer p{
    margin-bottom: 20px;
}

footer img{
    margin-top: 30px;
}

/* detail */
section.director-detail > .container,
section.detail > .container{
    padding-top: 110px;
}

section.director-detail .container,
section.detail .container{
    padding-left: var(--section-margin);
    padding-right: var(--section-margin);   
}

section.director-detail h3,
section.detail h3{
    font-family: 'Monument Extended';
    font-size: 2vw;
}

section.director-detail .video-wrapper{
    justify-content: space-between;
}
section.director-detail .video-wrapper .plyr{
    width: 55%;
}

section.director-detail .video-wrapper .body{
    width: 40%;
}

section.director-detail h3{
    font-size: 9vw;
}

section.director-detail .body{
    column-count: 1;
}
section.detail .body{
    column-count: 2;
}

section.director-detail video,
section.detail video{
    width: 100%;
}

section.director-detail .related,
section.detail .related{
    border-top: 1px solid var(--white-color);
    margin-bottom: 50px;
}

section.director-detail .related{
    border: 0;
}

section.director-detail .items .item p.work-title,
section.detail .items .item p.work-title{
    color: var(--white-color);
    font-family: 'Favorit Mono';
    font-size: 0.77vw;
}

section.director-detail h4,
section.detail h4{
    margin-bottom: 10px;   
    color: var(--white-color);
    font-family: 'Favorit Mono';
    margin-left: var(--section-margin);
    font-weight: normal;
    margin-top: 50px;
}

#mobile-nav{
    display: none;
}

nav img{
    display: none;
}

.nav-footer{
    display: none;
}

#contact-success,
#contact-error{
    display: none;
}

#contact-success{
    margin-top: 40px;
}

html.directors,
body.directors{
    background: var(--white-color);
}

section.directors{
    color: var(--black-color);
    padding-top: 100px;
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
}

section.directors .photo{
    width: 48%;
}

.directors-list{
    display: flex;
    flex-direction: column;
}
.directors-list a:hover,.directors-list a.active{
    font-weight: 400;
}
.directors-list a{
    color: var(--black-color);
    font-family: 'Monument Extended';
    font-weight: 300;
    font-size: 4vw;
    line-height: 4vw;
    padding-left: 20px;
}

@media (max-width:680px){
    .landing-legend{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .landing-legend p {
        max-width: 90%;
        margin-top: 7vh;
        margin-bottom: 7vh;
        font-size: 4vw;
    }

    #mobile-nav{
        display: block;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 9999999;
    }

    #mobile-nav .line{
        width: 30px;
        height: 1px;
        background: white;
        margin-bottom: 6px;
    }

    h1{
        display: none;
    }

    nav{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: black;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        z-index: 999999;
        display: none;
    }

    header nav a {
        font-family: 'Monument Extended';
        font-size: 7.25vw;
        margin-right: 20px;
        font-weight: 300;
        margin-bottom: 5px;
    }

    .directors-list a{
        line-height: 3vh;
    }
    
    header{
        z-index: 999999;
        background: transparent;
    }

    .landing-legend .social div{
        display: none;
    }

    .landing-legend .social a{
        display: inline;
        font-size: 3vw;
        margin-bottom: 0;
    }

    .landing-legend .social {
        margin-bottom: 7vh;
    }

    section.work .categories {
        font-size: 2.75vw;
        max-width: 300px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    section.work .items .item{
        width: 100%;
    }

    section.work .items .item p.work-title{
        font-size: 2.2vw;
    }

    footer{
        padding-top: 10px;
        align-items: baseline;
    }

    footer img {
        margin-bottom: 10px;
        margin-top: 0;
        width: 40px;
    }

    .get-social{
        display: none;
    }

    footer{
        font-size: 2.15vw;
        padding-bottom: 0;
    }

    footer .copy{
        display: flex;
        flex-direction: column-reverse;
    }

    #mobile-nav .line{
        background: black;
    }
    .open#mobile-nav .line{
        background: var(--white-color);
    }

    section.detail h3{
        font-size: 4vw;
    }

    section.detail .body{
        column-count: 1;
        font-size: 4vw;
    }

    h1 {
        color: white;
        z-index: 9999999;
        font-size: 6vw;
        margin-top: -10px;
    }

    section.detail .items .item{
        width: calc(50% - var(--work-item-margin));
    }

    section.director-detail .items .item p.work-title,
    section.detail .items .item p.work-title{
        font-size: 3vw;
    }

    section.detail h4{
        font-size: 3vw;
    }
    header.mobile-open #mobile-nav .line{
        transition: all 0.3s;
        background-color: white;
    }
    header.mobile-open #mobile-nav .line:nth-of-type(1){
        transform: rotate(45deg) translate(5px, 5px);
    }

    header.mobile-open #mobile-nav .line:nth-of-type(2){
        transform: rotate(-45deg);
    }

    header.mobile-open #mobile-nav .line:nth-of-type(3){
        display: none;
    }
    header.black a{
        color: var(--white-color);
    }

    header.mobile-open nav{
        display: flex;
    }

    header.mobile-open h1{
        display: block;
    }

    header.mobile-open nav img{
        display: block;
    }

    section.about{
        flex-direction: column;
    }

    body.black #mobile-nav .line{
        background-color: white;
    }

    body.black h1{
        display: block;
    }

    section.about{
        padding-top: 50px;
    }

    section.about > div h3{
        font-size: 6.5vw;
    }

    section.about > div{
        padding-right: 0;
        position: relative;
        padding-bottom: 30px;
    }

    section.about .we p{
        font-size: 3.7vw;
    }

    section.about > div h3{
        margin-bottom: 0;
    }

    section.about > div span{
        position: absolute;
        top: 10px;
        right: 0;
        font-size: 3vw;
    }

    section.about .services{
        font-size: 3vw;
    }

    nav img{
        width: 100px;
        margin-top: 110px;
    }

    .nav-footer a,.nav-footer p{
        font-size: 2vw;
        font-family: 'Favorit Mono';
        margin-right: 0;
    }

    .nav-footer{
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        border-top: 1px solid white;
        padding-top: 6px;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-between;
        display: block;
    }

    .by-email{
        display: none;
    }

    #contact-section{
        font-size: 6vw;
        text-align: center;
    }
    .contact-text br{
        display: none;
    }

    .contact-text .contact-info-text{
        display: block;
        font-size: 5vw;
    }

    h1{
        display: none;
    }

    .column.black h1{
        display: block;
    }
    .column.black h1 a{
        
        color: var(--black-color);
    }

    #contact-section input{
        margin-top: 40px;
        margin-bottom: 40px;
        font-family: 'Monument Extended';
        font-size: 14px;
        text-transform: uppercase;
        padding-bottom: 9px;
        text-align: center;
    }

    #contact-section .send-button{
        font-size: 6vw;
    }

    #contact-section .contact-text .sendus{
        margin-bottom: 20px;
        display: block;
    }

    #contact-section br{
        display: none;
    }

    section.directors{
        padding-top: 70px;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }

    section.directors .photo{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .video-wrapper{
        flex-direction: column;
    }

    section.director-detail .video-wrapper .body,
    section.director-detail .video-wrapper video{
        width: 100%;
    }
    section.director-detail .video-wrapper .body{
        margin-bottom: 30px;
    }

    section.director-detail .items .item{
        width: 100%;
    }
    
}