:root {
    --white-color: #ebe9e1;
    --black-color: #030303;
    
    --section-margin: 40px;
    --work-item-margin: 10px;
  }

html,body{
    font-family: 'Neue Montreal', Arial, Helvetica, sans-serif;
    background: var(--black-color);
    color: var(--white-color);
    margin: 0;
}

p,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

a{
    color: var(--white-color);
    text-decoration: none;
}

/* commons */
.column{
    display: flex;
    flex-direction: row;;
}

/* navigation & header */
header{
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    justify-content: space-between;
}

/* landing */
section.landing{
    display: none;
}

section.landing.show{
    display: block;
}

.landing .egg{
    height: 200vh;
    background: var(--black-color);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
}

.landing .egg::after{
    content: "";
    display: block;
    height: 100vh;
    width: 100vw;
    background: transparent;
    top: 300vh;
    position: absolute;
}

.landing .egg img{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 30vh;
    z-index: 2;
}

.landing-legend{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    font-family: 'Neue Montreal';
    
}

.landing-legend p{
    font-size: 2rem;
    max-width: 50%;
}

.landing-legend .social div,
.landing-legend .social a{
    display: block;
    font-size: 0.8rem;
}

.landing h2{
    font-family: 'Monument Extended';
    text-align: center;
    font-size: 15.2vw;
    z-index: 1;
}


/* work */

section.work{
    background: var(--white-color);
    padding: var(--section-margin);
    padding-top: 50px;

    font-family: 'Favorit Mono';
}
section.work .categories{
    color: var(--black-color);
    margin-bottom: 20px;
}

section.work .categories a{
    font-size: 1.5rem;
    color: var(--black-color);
}

section.work .categories a.active{
    text-decoration: underline;
}

section.work .categories span:last-of-type{
    display: none;
}

section.work .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.work .items .item{
    width: calc(50% - var(--work-item-margin));
    margin-bottom: var(--work-item-margin);
    position: relative;
}

section.work .items .item a{
    color: var(--black-color);
}

section.work .items .item .description-container{
    position: relative;
    display: block;
}

section.work .items .item.hidden{
    display: none;
}

section.work .items .item img{
    display: block;
}

section.work .items .item:hover .description{
    opacity: 1;
}

section.work .items .item .description{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    color:var(--white-color);
    padding: 50px 20px;
    opacity: 0;
    transition: 1s all ease;
}