
        <aside id='contact-section'>
            <div class='close'>
            <img src="{{initPath}}/assets/img/close-black.svg" width="25" />
            </div>
            <p class="by-email">BY EMAIL</p>
            <p class="contact-text">
                <span class='sendus'>SEND US A MESSAGE</span>
                <a class='email' href="hi@earlybird.com" class="contact-info-text">HI@EARLYBIRD.COM</a>
                <span class="contact-info-text">MÉXICO CITY, 06100<br/></span>
            </p>

            <form class="contact-text form-contact">
                OR SUSCRIBE<br/>
                <input type="email" placeholder="name@email.com" required id="email-field"/><button type="submit" class='send-button'>SEND</button>
            
                
                <div id="contact-error">
                    An error occurred try again
                </div>
            </form>

            <div id="contact-success">
                    We will contact you shortly
                </div>
        </aside>

        <footer class='column'>
            <div class='copy'>
                2021 EARLYBIRD ALL RIGHTS RESERVED.<br/>
                <img src='{{initPath}}/assets/img/footer-egg-white.png' class="egg-black" width='60'>
                <img src='{{initPath}}/assets/img/footer-egg-black.png' class="egg-white" width='60'>
            </div>
            <div>
                <p class='get-social'>
                    GET SOCIAL
                </p>
                <p>
                    <a href='#'>INSTAGRAM</a>
                    <a href='#'>FACEBOOK</a>
                    <a href='#'>VIMEO</a>
                </p>
            </div>
        </footer>

        {% if is_dev %}
            <script src="http://localhost:9999/bundles/main.js"></script>
        {% else %}
            <script src="{{initPath}}/dist/main.js"></script>
        {% endif %}
        
    </body>
</html>