        {% if is_dev %}
            <script src="http://localhost:9999/bundles/main.js"></script>
        {% else %}
            <script src="js/main.js"></script>
        {% endif %}
        
    </body>
</html>