
        <aside id='contact-section'>
            <div class='close'>X</div>
            <p class="by-email">BY EMAIL</p>
            <p class="contact-text">
                SEND US A MESSAGE<br/>
                <a href="hi@earlybird.com">HI@EARLYBIRD.COM</a><br/><br/>
                MÉXICO CITY, 06100<br/>
            </p>

            <form class="contact-text form-contact">
                OR SUSCRIBE<br/>
                <input placeholder="name@email.com"/>SEND
            </form>
        </aside>

        {% if is_dev %}
            <script src="http://localhost:9999/bundles/main.js"></script>
        {% else %}
            <script src="js/main.js"></script>
        {% endif %}
        
    </body>
</html>