
        <aside id='contact-section'>
            <div class='close'>X</div>
            <p class="by-email">BY EMAIL</p>
            <p class="contact-text">
                SEND US A MESSAGE<br/>
                <a href="hi@earlybird.com">HI@EARLYBIRD.COM</a><br/><br/>
                MÉXICO CITY, 06100<br/>
            </p>

            <form class="contact-text form-contact">
                OR SUSCRIBE<br/>
                <input type="email" placeholder="name@email.com" required id="email-field"/><button type="submit" class='send-button'>SEND</button>
            </form>
        </aside>

        <footer class='column'>
            <div class='copy'>
                2021 EARLYBIRD ALL RIGHTS RESERVED.<br/>
                <img src='{{initPath}}/assets/img/footer-egg-white.png' class="egg-black" width='60'>
                <img src='{{initPath}}/assets/img/footer-egg-black.png' class="egg-white" width='60'>
            </div>
            <div>
                <p class='get-social'>
                    GET SOCIAL
                </p>
                <p>
                    <a href='#'>INSTAGRAM</a>
                    <a href='#'>FACEBOOK</a>
                    <a href='#'>VIMEO</a>
                </p>
            </div>
        </footer>

        {% if is_dev %}
            <script src="http://localhost:9999/bundles/main.js"></script>
        {% else %}
            <script src="{{initPath}}/js/main.js"></script>
        {% endif %}
        
    </body>
</html>