<!doctype html>
<html>
    <head>
        <title>earlybird</title>
        <link rel="stylesheet" href="/frontend/assets/fonts/stylesheet.css">
        <link rel="stylesheet" href="/frontend/assets/css/main.css">

    </head>

    <body class="{{sectionName}}">

    <header class="column">
        <nav>
            <a href='/work' class='work-nav'>WORK</a>
            <a href='/about'>ABOUT</a>
            <a href='/cntact'>CONTACT</a>

        </nav>
        <h1>earlybird</h1>
    </header>
