<!doctype html>
<html>
    <head>
        <title>earlybird</title>
        <link rel="stylesheet" href="/assets/css/main.css">

    </head>

    <body>

    <nav>
        <a href='/work'>WORK</a>
        <a href='/about'>ABOUT</a>
        <a href='/cntact'>CONTACT</a>

        <h1>earlybird</h1>
    </nav>
